<section class="text-gray-700 body-font mt-10 flex flex-col justify-center items-center">
    <div class="container mx-auto flex px-5 py-1 items-center justify-center flex-col">
      <h1 class="title-font text-center sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Innovation</h1>
      <p class="text-base text-center leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        
      </p>
    </div>
  </section>  

  <mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile><mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          
        </mat-card-header>
        <h1 class="text-center">Robotics</h1>
        <img mat-card-image src="assets/images/23390.jpg" attr.height="400px" alt="Photo of Robotics">
        <mat-card-content>
          <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 hover:text-gray-700" routerLink="/robotics">
            Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </mat-card-content>
        
      </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
        </mat-card-header>
        <h1 class="text-center">Drones</h1>
        <img mat-card-image src="assets/images/265.jpg" alt="Photo of Drones">
        <mat-card-content>
          
          <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 hover:text-gray-700" routerLink="/drones">
            Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </mat-card-content>
       
        

      </mat-card></mat-grid-tile>

      <mat-grid-tile><mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
          
        </mat-card-header>
        <h1 class="text-center">AI</h1>
        <img mat-card-image src="assets/images/124669.jpg" alt="Photo of AI" class="">
        <mat-card-content>
          <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 hover:text-gray-700" routerLink="/ai">
            Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </mat-card-content>
        
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          
        </mat-card-header>
        <h1 class="text-center">Blockchain</h1>
        <img mat-card-image src="assets/images/2910154_442.jpg" alt="Photo of Blockchain">
        <mat-card-content>
          <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 hover:text-gray-700" routerLink="/blockchain">
            Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </mat-card-content>
       
      </mat-card></mat-grid-tile>
  </mat-grid-list>